<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../ASSETS/fontawesome-free-5.15.4-web/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../ASSETS/CSS/base_CV.css">
    <link rel="stylesheet" href="../ASSETS/CSS/main_CV.css">
    <link rel="stylesheet" href="../ASSETS/CSS/Responsive.css">
    <title>CitizenV</title>
    <style>
        th, td {
            font-size: 17px;
        }
    </style>
</head>
<body>
    <!-- header trang nhập liệu -->
    <header class="header">
        <div class="header__body">

            <div id="CitizenV">CitizenV</div>

            <a href="/home" class="back">
                <i class="back__icon fas fa-arrow-left"></i>
            </a>
    
            <div class="header__navbar-item header__navbar-login">
                <span class="header__navbar-login-name">
                    <span id="name-user">{{username}}</span>
                    <div class="user-avatar">
                        <i class="fas fa-user-circle"></i>
                    </div>
                </span>
               
                <ul class="header__navbar-showdetails Phan_dem_Show">
                    <li class="header__navbar-show-item">
                        <a href="" class="header__navbar-show-link">Tài khoản của tôi</a>
                    </li>
                    <li class="header__navbar-show-item header__navbar-show-item--separate">
                        <a href="/logout" class="header__navbar-show-link">Đăng xuất</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <form class="main">
        <div class="row search">
            <h3>Theo Dõi Tiến Độ</h3>
        </div>

        <div class="body-view">
            <table class="table-view">
                <thead class="table_head">
                    <tr>
                        <th>Tỉnh</th>
                        <th>Tiến độ</th>
                    </tr>
                </thead>
                <tbody class="table_body">
                    {{!-- <tr class="oddr">
                        <td>Hoàng Văn A</td>
                        <td>2/2/2002</td>
                    </tr> --}}
                </tbody>
            </table>
        </div>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/vietblogdao/js/districts.min.js"></script>
   
    <script src="../ASSETS/JS/address_date.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            if ({{dinh_danh}} === 1) {
                fetch('../ASSETS/data_vietnam_province/tinh.json').then(response => {
                    return response.json();
                }).then(data => {
                    $(data).each(function (index, value) {
                        var v = "";
                        fetch('../ASSETS/data_vietnam_province/tiendo.json').then(response1 => {
                            return response1.json();
                        }).then(data1 => {
                            $(data1).each(function (index1, value1) {
                                 if (value1.id === value.id) {
                                     v = value1.ten;
                                 }
                            })
                            if (v !== "") {
                                $('.table_body').append('<tr class="oddr"><td>' + v + '</td><td>' + 'Hoàn thành' + '</td></tr>');
                            } else {
                                $('.table_body').append('<tr class="oddr"><td>' + value.tinh + '</td><td>' + 'Chưa hoàn thành' + '</td></tr>');
                            }
                        }).catch(err => {
                            console.log(err);
                        });
                    })
                }).catch(err => {
                    console.log(err);
                });
            } else if ({{dinh_danh}} === 2) {
                fetch('../ASSETS/data_vietnam_province/huyen.json').then(response => {
                    return response.json();
                }).then(data => {
                    $(data).each(function (index, value) {
                        if (value.id_tinh === "{{code}}") {
                            var v = "";
                            fetch('../ASSETS/data_vietnam_province/tiendo.json').then(response1 => {
                                return response1.json();
                            }).then(data1 => {
                                $(data1).each(function (index1, value1) {
                                    if (value1.id === value.id) {
                                        v = value1.ten;
                                    }
                                })
                                if (v !== "") {
                                    $('.table_body').append('<tr class="oddr"><td>' + v + '</td><td>' + 'Hoàn thành' + '</td></tr>');
                                } else {
                                    $('.table_body').append('<tr class="oddr"><td>' + value.huyen + '</td><td>' + 'Chưa hoàn thành' + '</td></tr>');
                                }
                            }).catch(err => {
                                console.log(err);
                            });
                        }
                    })
                }).catch(err => {
                    console.log(err);
                });
            } else if ({{dinh_danh}} === 3) {
                fetch('../ASSETS/data_vietnam_province/xa.json').then(response => {
                    return response.json();
                }).then(data => {
                    $(data).each(function (index, value) {
                        if (value.id_huyen === "{{code}}") {
                            var v = "";
                            fetch('../ASSETS/data_vietnam_province/tiendo.json').then(response1 => {
                                return response1.json();
                            }).then(data1 => {
                                $(data1).each(function (index1, value1) {
                                    if (value1.id === value.id) {
                                        v = value1.ten;
                                    }
                                })
                                if (v !== "") {
                                    $('.table_body').append('<tr class="oddr"><td>' + v + '</td><td>' + 'Hoàn thành' + '</td></tr>');
                                } else {
                                    $('.table_body').append('<tr class="oddr"><td>' + value.xa + '</td><td>' + 'Chưa hoàn thành' + '</td></tr>');
                                }
                            }).catch(err => {
                                console.log(err);
                            });
                        }
                    })
                }).catch(err => {
                    console.log(err);
                });
            } else {
                fetch('../ASSETS/data_vietnam_province/thon.json').then(response => {
                    return response.json();
                }).then(data => {
                    $(data).each(function (index, value) {
                        if (value.id_xa === "{{code}}") {
                            var v = "";
                            fetch('../ASSETS/data_vietnam_province/tiendo.json').then(response1 => {
                                return response1.json();
                            }).then(data1 => {
                                $(data1).each(function (index1, value1) {
                                    if (value1.id === value.id) {
                                        v = value1.ten;
                                    }
                                })
                                if (v !== "") {
                                    $('.table_body').append('<tr class="oddr"><td>' + v + '</td><td>' + 'Hoàn thành' + '</td></tr>');
                                } else {
                                    $('.table_body').append('<tr class="oddr"><td>' + value.thon + '</td><td>' + 'Chưa hoàn thành' + '</td></tr>');
                                }
                            }).catch(err => {
                                console.log(err);
                            });
                        }
                    })
                }).catch(err => {
                    console.log(err);
                });
            }
        });
    </script>

    <script>
        var chkArr = document.getElementsByName('checkid');

        for (i = 0; i < chkArr.length; i++){
            chkArr[i].onchange = function () {
                if (this.checked) {
                    document.getElementById('delete').style.display = 'inline-block';
                    this.parentNode.parentNode.style.backgroundColor = '#fff';
                } else {
                    var count = 0;

                    for (j = 0; j < chkArr.length; j++) {
                        if (chkArr[j].checked) {
                            count += 1;
                        }
                    }

                    if (count == 0) {
                        document.getElementById('delete').style.display = 'none';
                    }

                    if (this.parentNode.parentNode.className == 'oddr') {
                        this.parentNode.parentNode.style.backgroundColor = '#fff';
                    } else {
                        this.parentNode.parentNode.style.backgroundColor = '#fff';
                    }
                }
            }
        };

        //
        // Kích check all
        //
        {{!-- document.getElementById("checkall").onchange = function() {
            let c = document.getElementsByName("checkid");			
            for (let i = 0; i < c.length; i++) {
                c[i].checked = this.checked;
                	
            }
            if (this.checked) {
                document.querySelector("div.group-op").classList.remove("nodisplay");
            }
            else {
                document.querySelector("div.group-op").classList.add("nodisplay");
            }
        }; --}}

        //
        //	Xóa
        //
        {{!-- document.querySelector(".group-op-delete").onclick = function() {
            let c = document.getElementsByName("checkid");	 		
            for (let i = c.length-1; i >= 0; i--) {
                if (c[i].checked) {
                    c[i].parentNode.parentNode.parentNode.removeChild(c[i].parentNode.parentNode);
                }
            }
        }; --}}
    </script>
</body>
</html>